# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log

# Sensitive override and variable files
override.tf
override.tf.json
*_override.tf
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env
.env

# Node
node_modules/
